@import url("http://fonts.googleapis.com/css?family=Dancing+Script");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");

.h1 {
  font-family: Dancing Script;
  color: #a97037;
  text-align: center;
  font-size: 4.5vw;
  margin: 4vh 0 4vh 0;
}
.news_container {
  display: inline-block;
  vertical-align: middle;
  > .news_child {
    width: 50%;
    float: left;
    padding: 15px;
    margin-top: 30px;
    > img {
      margin-bottom: 30px;
      width: 100%;
    }
  }
}
.news_text {
  > p {
    font-family: "Lora", serif;
    font-style: italic;
  }
}
.text_right {
  margin-left: 25%;
}
.text_left {
  margin-right: 25%;
}
.title {
  font-size: 2vw;
}
.content {
  font-size: 1.2vw;
  margin-bottom: 1vw;
}
hr {
  border-top: 1px solid #bdb7b4;
  width: 90%;
}
.h2 {
  text-align: center;
  font-family: Dancing Script;
  font-size: 4vw;
  margin-bottom: 10px;
  color: #a97037;
}
.hotServices_container {
  margin: 0 auto;
  > .hotServices_child {
    margin-bottom: 30px;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-around; // space-around
    // column-gap: 25px;
    // row-gap: 25px;
    // width: 100%;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, max-content));
    grid-gap: 30px;
    justify-content: center;
  }
  p {
    text-align: right;
    color: var(--color-base-1);
  }
}

