.general {
  border-radius: 5px;
  min-width: 80px;
}

.general + .general {
  margin-left: 20px;
}

.primary {
  color: var(--color-white);
  background: var(--color-base-1);
  border-color: var(--color-base-1);
  &:hover {
    color: var(--color-white);
    background: var(--color-base-1);
    border-color: var(--color-base-1);
    opacity: 0.8;
  }
  &:focus {
    color: var(--color-white);
    background: var(--color-base-1);
    border-color: var(--color-base-1);
    opacity: 0.8;
  }
}

.like {
  color: var(--color-like);
  background: var(--color-white);
  border-color: var(--color-like);
  &:hover {
    color: var(--color-white);
    background: var(--color-like);
    border-color: var(--color-like);
    opacity: 0.8;
  }
  &:focus {
    color: var(--color-white);
    background: var(--color-like);
    border-color: var(--color-like);
    opacity: 1;
  }
}

.ghost {
  background: transparent;
  border-color: var(--color-base-1);
  color: var(--color-base-1);
  &:hover {
    border-color: var(--color-base-1);
    color: var(--color-base-1);
    opacity: 0.8;
  }
  &:focus {
    border-color: var(--color-base-1);
    color: var(--color-base-1);
    opacity: 0.8;
  }
}

.link {
  color: var(--color-pink);
  padding: 4px 10px;
  &:hover {
    color: var(--color-base-1);
    opacity: 0.8;
  }
  &:focus {
    color: var(--color-base-1);
    opacity: 0.8;
  }
}

.color {
  color: var(--color-red);
  &:hover {
    color: var(--color-red);
    opacity: 0.8;
  }
  &:focus {
    color: var(--color-red);
    opacity: 0.8;
  }
}
