@import url('http://fonts.googleapis.com/css?family=Dancing+Script');
.createBlog_container {
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.createBlog_container > input {
  width: 70%;
  margin: 2vw 0;
  border-bottom: 1px solid #d9d9d9;
  font-size: 4.5vw;
  font-family: Dancing Script;
  height: 6vw;
  color: var(--color-tittle);
  text-align: center;
  &:hover {
    border-bottom: 1px solid #d9d9d9;
  }
  &:focus {
    border-bottom: 1px solid #d9d9d9;
  }
  &::placeholder {
    font-size: 4.5vw;
    line-height: 3;
    font-family: Dancing Script;
  }
}
// input::-webkit-input-placeholder {
//   font-size: 10vw;
//   line-height: 3;
//   font-family: Dancing Script;
// }
.createBlog_child {
  width: 100%;
  > div {
    border: 2px solid var(--color-background);
    > div:first-child > div > div:first-child {
      background-color: var(--color-background);
      > button {
        &:hover {
          background: var(--color-base-2);
        }
        &:focus {
          background: var(--color-base-2);
        }
        &:active {
          background: var(--color-base-2);
        }
      }
    }
  }
}
.button_container {
  display: flex;
  > button {
    margin: 0 auto;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
    opacity: 1;
    width: 10vw;
    height: 3.3vw;
    font-size: 1.2vw;
    border-color: #d1a239;
    color: #d1a239;
    &:first-child {
      background: #7c5b39;
      border-color: #7c5b39;
      color: #fff;
      opacity: 1;
      &:hover {
        background: #d1a239;
        border-color: #d1a239;
        opacity: 0.8;
      }
      > span {
        font-size: 1.3vw;
      }
    }
  }
}
