@import "../../../scss/mixin.scss";

.body {
  width: 85%;
  background-color: var(--color-body);
  padding: 15px;
  margin: 0 auto;
  margin-top: 10px;
}

//Button group
.button_group {
  margin-top: -20px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  > div > button {
    background: var(--color-button);
    color: white;
  }
}

.btn {
  display: flex;
}

.add_button {
  margin-left: auto;
}
// Your Services css
@font-face {
  font-family: "AlexBrush";
  src: url("../../../fonts/alexbrush/AlexBrush-Regular.ttf") format("truetype");
}

.your_service_text {
  @include titleFont;
  margin-bottom: 5px;
}
.btnHireAll {
  display: flex;
  justify-content: end;
  margin-right: 15px;
}
.services_list {
  margin-top: 10px;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, max-content));
  grid-gap: 45px;
  justify-content: center;
  padding-bottom: 3vw;
  > div > div:first-child {
    padding-bottom: 0;
    width: 240px;
    height: 180px;
  }
}

.services_list_inner {
  width: 100%;
  display: flex;
  justify-content: center;
}

.detail {
  width: 100%;
}

.detail:nth-child(1) {
  height: 100% !important;
}

.col_line {
  margin-top: 10px;
}

// Divider css
.divider {
  border-top: 2px solid rgba(0, 0, 0, 0.3) !important;
}
