.container {
  // width: 100%;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  background: #feffff;
  margin: 0 15%;
}
.header {
  display: flex;
  align-items: center;
  // border-bottom: 1px solid #f0f0f0;
  margin-bottom: 20px;
}

.logo {
  width: 70px;
  height: 70px;
  margin-right: 20px;
}
.carousel {
  width: 100%;
  // height: 500px;
}
.body {
  flex: 1;
  height: 100%;
  width: 80%;
  background-color: #fff;
}

.menu__container {
  color: var(--color-base-2);
  border-bottom: none;
}

// .carousel__container {
//   > .carousel {
//     width: 100%;
//   }
// }
