.utility {
    display: flex;
    padding: 60px;
}

.card {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;
}

.paging {
    padding: 50px;
    margin: auto;
    width: 80%;
}