.utility {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 50px 0;
  width: 71%;
  margin: auto;
}

.search {
  flex-grow: 6;
  > span > span > input {
    height: 32px;
  }
}

.card {
  // display: flex;
  // justify-content: flex-start;
  // gap: 10px;
  // flex-wrap: wrap;
  // > div {
  //     margin:auto !important;
  // }
  width: 80%;
  margin: 0 auto;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, max-content));
  grid-gap: 42px;
  justify-content: center;
  padding-bottom: 3vw;
  > div > div:first-child {
    padding-bottom: 0;
    width: 100%;
    height: 180px;
  }
}

.paging {
  padding: 50px;
  margin: auto;
  width: 80%;
}
