.body {
    width: 95%;
    background-color: var(--color-body);
    padding: 15px;
    margin: 0 auto;
    margin-top: 10px;
  }

//Button group
.button_group{
    margin-top: -20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    >div > button{
        background: var(--color-button);
        color: white;
    }
}

//Hire button css
.hire_btn{
    position: absolute;
    margin-top: -31px;
    right: 20.01%;
    background-color: var(--color-button);
    color: white;
}

//Remove button css
.remove_all_btn{
    position: absolute;
    margin-top: -31px;
    left: 20.01%;
    background-color: var(--color-button);
    color: white;
}


// Your Services css
@font-face {
    font-family: 'AlexBrush';
    src: url('../../../fonts/alexbrush/AlexBrush-Regular.ttf') format('truetype');
}

.your_service_text{
    display: flex;
    justify-content: center;
    color: var(--color-title);
    font-size: 5em;
    font-family: "AlexBrush" !important;
}

.services_list{
    display: flex;
    justify-content: center;
    text-align: center;
}

.services_list_inner{
    width: 100%;
    display: flex;
    justify-content: center;
}

.detail{
    width: 100%;
}

.detail:nth-child(1){
    height: 100% !important;
}

.col_line{
    margin-top: 10px;
}

// Divider css
.divider{
    border-top: 2px solid rgba(0, 0, 0, 0.3) !important;
}


.view_all{
    float: right;
    color: white;
    text-decoration: underline;
}
