.body {
    width: 75%;
    background-color: var(--color-body);
    padding: 15px;
    margin: 0 auto;
    margin-top: 10px;
  }

//   Avatar group css
.ava_group{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.anata_ava:hover{
    opacity: 0.5;
}

.inner_camera{
    font-size: 150% !important;
}

.inner_camera:hover{
    opacity: 0.5;
}


// Your progress css
@font-face {
    font-family: 'AlexBrush';
    src: url('../../../fonts/alexbrush/AlexBrush-Regular.ttf') format('truetype');
}

.progress_text{
    display: flex;
    justify-content: center;
    color: var(--color-title);
    font-size: 5em;
    font-family: "AlexBrush" !important;
}

.progress_menu{
    display: flex;
    justify-content: center;
    text-align: center;
}

.progress_menu_inner{
    width: 100%;
    display: flex;
    justify-content: center;
}

.detail{
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;

}

.detail:nth-child(1){
    height: 100% !important;
}

// Divider css
.divider{
    border-top: 2px solid rgba(0, 0, 0, 0.3) !important;
}

// Upcomming task css
.upcomming_title{
    font-size: 1.3rem;
    color: black;
}

.task_list{
    background-color: white;
    padding: 10px;
}

// Hired services
.search_bar{
    width: 30%;
    float: right;
}


.view_all{
    float: right;
    color: white;
    text-decoration: underline;
}
