.menunav{
  justify-content: center;
  white-space: nowrap;
  // background: var(--color-body);
}

.menuitem{
  width: 13%;
}

.menuitem:hover{
  background-color: white !important;
}

.menuitem:focus{
  .nav_icon{
    color: var(--color-button);
  }
  background-color: white !important;
}

.nav_icon{
  font-size: 150% !important;
  color: var(--color-button);
  justify-content: center;
  display: flex !important;
}


.tools_navigation_icon{
  margin: 0 auto 8px;
  display: block;
}

.tools_navigation_link {
  font-size: 15px;
  text-align: center;
  line-height: 24.27050985px;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 400;
  padding: 15px 5px 10px;
  border-bottom: 3px solid transparent;
  box-sizing: border-box;
  color: var(--color-button) !important;
}



