:root {
  --color-pink: #d46371;
  --color-pink-2: #db8f98;
  --color-base: #bdb7b4;
  --color-base-1: #987d3e;
  --color-base-2: #918a7f;
  --color-base-3: #726e6b;
  --color-red: #ff4133;
  --color-footer: #1e2327;
  --color-title: #dbc093;
  --color-button: #c79b4f;
  --color-background: #cbb580;
  --color-body: #f7f6eb;
  
}
