.info {
    display: flex;
    > div{margin-right: 30px}
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.icons_location {
    width: 3%;
}

.utility {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.image {
    border-radius: 15px;
    width: 150px;
}

.thumbnail {
    border-radius: 15px;
    width: 30%;
}

.feature {
    display: flex;
    justify-content: space-between;
}