@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

.edit_container {
  width: 80%;
  margin: auto;
  font-family: "Lora", serif;
  padding: 2vw;
}

.info {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  padding-bottom: 5vw;
}

// .imageinfo {
//   flex-grow: 1;
// }

.textinfo {
  flex-grow: 2;
  > div {
    display: flex;
    &:not(:last-child) {
      margin-bottom: 1vw;
      align-items: center;
    }
    p {
      margin-right: 10px;
    }
    button {
      min-width: 5px;
      font-size: 13px;
      border-color: #b19b69;
      background: #b19b69;
    }
  }
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.icons_location {
  width: 3%;
}
.description {
  p {
    width: 80%;
  }
}
.image {
  border-radius: 15px;
  //   width: 190px;
  width: 20vw;
  height: 100%;
}
.popup_edit {
  padding: 2vw 0;
}
.thumbnail {
  border-radius: 15px;
  width: 300px;
}

.feature {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}
