.btn {
  background: black;
  &:hover {
    background: blue;
    color: white;
  }
  &:focus {
    background: blue;
    color: white;
  }
}

// .card {
//   background: #000;
//   > div:first-child {
//     color: #fff;
//   }
// }
